<div class="row">
	<div class="span12 offset3 text-right">
		<h4>
			Current Balance:
			<span class="fg-dark<%= @current_user.balance > 0 ? 'Green' : 'Red'%>">
				$ <%= @current_user.balance %>
			</span>
		</h4>
	</div>
</div>
<div class="row">
	<div class="span8 offset2">
		<%= form_for @transaction, url: {action: 'create'} do |f| %>
			<legend>New Budget!</legend>
			<div class="input-control text">
				<%= f.text_field :category, placeholder: "#Coffee - 35 ?" %>
			</div>
			<%= f.submit "Tag!", class: 'primary' %>
		<% end %>
	</div>
</div>
<%= @transactions.each_slice(7).each do |row| %>
<div class="row">
	<div class="tile-group seven offset2">
		<% row.each do |transaction| %>
			<a href="<%= transaction_path(transaction) %>" class="tile fg-white ol-darker bg-dark<%= transaction.amount < 0 ? 'Red' : 'Green' %>">
				<div class="tile-content">
					<div class="text-right padding10">
						<h3 class="no-margin fg-white"><%= transaction.amount.abs %></h3>
						<p class="fg-white"><%= transaction.category %></p>
					</div>
				</div>
				<div class="brand">
					<span class="name"><%= time_ago_in_words transaction.created_at %> Ago</span>
					<span class="badge <%= transaction.amount < 0 ? 'icon-minus-2' : 'icon-plus-2' %>"></span>
				</div>
			</a>
		<% end %>
	</div>
</div>
<% end %>
