<div class="row">
	<div class="span12 offset3 text-right">
		<h4>
			Current Balance:
			<span class="fg-dark<%= @current_user.balance > 0 ? 'Green' : 'Red'%>">
				$ <%= @current_user.balance %>
			</span>
		</h4>
	</div>
</div>
<div class="row">
	<div class="span8 offset4">
		<%= form_for @transaction, url: {action: 'create'} do |f| %>
			<legend>New Budget!</legend>
			<div class="input-control text">
				<%= f.text_field :category, placeholder: "#Coffee - 35 ?" %>
			</div>
			<%= f.submit "Tag!", class: 'primary' %>
		<% end %>
	</div>
</div>
<%= @transactions.each_slice(5).each do |row| %>
<div class="row">
			<% row.each do |transaction| %>
			<div class="span3 offset1">
				<a href="#"  style="border-width:10px" class="tile double bg-white bd-darker ol-orange">
					<div class="tile-content"><div class="padding10">
						<div class="fg-black">
							<h4>
								<span><%= transaction.category %></span>
								<span class="place-right"><%= transaction.amount.abs %></span>
							</h4>
							<p class="text-justify"><%= transaction.detail %></p>
						</div>
					</div>
					<div class="brand text-right">
						<div class="label no-margin">
							<h4>
								<span class="<%= transaction.amount < 0 ? 'icon-minus fg-red' : 'icon-plus fg-emerald' %>"></span>
							</h4>
						</div>
					</div></div>
				</a>
				</div>
			<% end %>
</div>
<% end %>
