<br/>
<div class="tile-area ntp">
	<div class="tile-group six offset2">
			<div class="tile triple double-vertical bg-darkCyan ol-cyan">
				<div class="tile-content">
					<div class="padding15">
						<p class="subheader padding15 fg-white"><%= @transaction.category %></p>
						<hr/>
						<p class="fg-white"><%= @transaction.detail %></p>
					</div>
				</div>
			</div>
			<div class="tile double bg-dark<%= @transaction.amount < 0 ? 'Red ol-red' : 'Green ol-green' %>">
				<div class="tile-content">
						<p class="subheader text-center margin20 nrm nlm padding20 nrp nlp fg-white">
							<i class="icon-<%= @transaction.amount > 0 ? 'plus' : 'minus' %>"></i>
							$<%= @transaction.amount.abs %>
						</p>
				</div>
			</div>
		
			<%= link_to transaction_path(@transaction), :confirm => 'Do you Really want to Delete this Transaction?', method: :delete, class: 'tile half bg-red ol-darkRed' do %>
				<div class="tile-content icon">
					<i class="icon-remove fg-white"></i>
				</div>
			<% end %>
		
			<div class="tile double bg-darkCyan ol-cyan">
				<div class="tile-content">
					<div class="padding10">
						<p class="text-left fg-white">Transaction Made On</p>
						<p class="text-center fg-white"><%= @transaction.created_at.strftime('%A, %B %M, %Y') %></p>
						<p class="text-right fg-white"><%= @transaction.created_at.strftime('@ %l:%M%P') %></p>
					</div>	
				</div>
			</div>
		
	</div>
</div>