<br>
<div class="row">
	<div class="span8 offset4">
		<div class="panel">
			<div class="panel-header">
				<h2>Signup</h2>
			</div>
			<div class="panel-content">
				<%= form_for @user do |u| %>
					<%= label_tag(:email, 'Email:') %>
					<div class="input-control text">	
						<%= u.text_field :email %>
					</div>
					<%= label_tag(:password, 'Password:') %>
					<div class="input-control password">	
						<%= u.password_field :password %>
					</div>
					<%= label_tag(:password_confirmation, 'Retype Password:') %>
					<div class="input-control password">	
						<%= u.password_field :password_confirmation %>
					</div>
					<%= label_tag(:balance, 'Initial Balance') %>
					<div class="input-control text">
						<%= u.balance :balance %>
					</div>
					<%= submit_tag 'SignUp', class: 'warning'%>	
				<% end %>
			</div>
		</div>
	</div>
</div>